
.shodan_host {
    width: 100%;
  }

  .shodan_host h1,
  .shodan_host h2 {
      color: #444;
        font-family: 'Myriad Pro', 'Helvetica';
  }

  .shodan_host > ul {
        list-style-type: none;
        margin-left: 0;
  }

  .shodan_host h1 {
        font-size: 18px;
        line-height: 18px;
  }

  .shodan_host h2 {
        font-size: 14px;
        line-height: 14px;
  }

  .shodan_host i {
        padding-right: 5px;
  }

  .shodan_host .shodan_hostnames a {
      color: #999;
  }

  .shodan_host .shodan_ports li {
        background-color: #77CCD7;
        color: white;
        float: left;
        font-family: Arial;
        font-size: 12px;
        font-weight: bold;
        height: 48px;
        margin: 5px;
        position: relative;
        text-shadow: none;
        width: 48px;
  }

  .shodan_host .shodan_ports li > a {
    background-color: #2d6987;
    color: white;
    height: 48px;
    position: absolute;
    width: 48px;
  }

  .shodan_host .shodan_ports li > a:hover {
    background-color: #404040;
  }

  .shodan_host .shodan_ports li span {
    color: white;
    height: 34px;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 48px;
  }

  .shodan_host .shodan_ports li a > span:hover {
    text-decoration: underline;
  }

  .shodan_host table td,
  .shodan_host table th {
    line-height: 8px;
  }

  .shodan_host #shodan_vulns ul {
      margin-top: 5px;
  }

  .shodan_host #shodan_vulns ul li {
      list-style-type: none;
      margin-left: -20px;
  }

  .shodan_host #shodan_vulns a {
      color: black;
      text-decoration: none;
  }

  .shodan_host #shodan_vulns a:hover {
      text-decoration: underline;
  }

  .shodan_host #shodan_vulns img {
      width: 28px;
  }

  #shodan_vulns{
    overflow: scroll;
    width: 300px;
    height: 300px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
